/*Choose and Play Web Page Styling:*/
body {
    background-image: url('assets/player-pictures/background.svg');
    font-family: 'VT323', monospace;
}

header {
    background-color: rgb(11, 11, 78);
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.logo {
    display: block;
    margin: 0 auto;
    padding: 10px;
}

/*Choose Deck Styling*/
.column-choose {
    width: 45%;
    background-color: #878787;
    border: 2px solid black;
    height: 50vh;
}

#P1-display {
    font-size: x-large;
    margin-right: 30px;
    color:#8aec7f;
    background-color: #202020;
    text-shadow: 0px 0px 15px #52f74e;
    width: 50%;
    float: right;
    text-align: center;
}

#P2-display {
    font-size: x-large;
    margin-left: 30px;
    color:#8aec7f;
    background-color: #202020;
    text-shadow: 0px 0px 15px #52f74e;
    width: 50%;
    float: left;
    text-align: center;
}

.p1-header {
    text-align: left;
    color: white;
    background-color: rgb(11, 11, 78);
    border: 2px solid rgb(0, 0, 34);
    padding: 10px;
    padding-left: 30px;
}

.p2-header {
    text-align: right;
    color: white;
    background-color: rgb(240, 174, 148);
    border: 2px solid #d68869;
    padding: 10px;
    padding-right: 30px;
}

.player-pic {
    padding: 10px;
}

#Player-1-pic {
    float: left;
    width: 30%;
    padding-left: 30px;
}

#Player-2-pic {
    float: right;
    width: 30%;
    padding-right: 30px;
}

#Player-1-choice {
    float: right;
    margin: 10px;
    margin-right: 30px;
    width: 50%;
    font-size: x-large;
    border: 4px solid black;
    border-radius: 5px;
    color: #52f74e;
    background-color: #201f1f;
    list-style: none;
}

#Player-2-choice {
    float: left;
    margin: 10px;
    margin-left: 30px;
    width: 50%;
    font-size: x-large;
    border: 4px solid black;
    border-radius: 5px;
    color: #52f74e;
    background-color: #201f1f;
    list-style: none;
}
select option:not(:checked) {
    background-color: #201f1f;
}


select option:active, select option:checked:after, select option:focus-visible, select option:hover, select option:checked {
    background-color: #52f74e !important;
    color: #201f1f !important;
}

.ready-up {
    display: block;
    margin: 0 auto;
    width: 30%;
    border: 4px solid darkred;
    border-radius: 5px;
    background-color: red;
    color: whitesmoke;
    font-size: large;
}

.ready-up:hover {
    background-color: darkred;
    border-color: red;
}

.start {
    width: 90%;
    height: 20vh;
    background-color: #201f1f;
    border: 2px solid black;
}

#Start-game {
    display: block;
    margin: 30px auto;
    width: 20%;
    height: 10vh;
    font-size: x-large;
    color:#8aec7f;
    background-color: #202020;
    text-shadow: 0px 0px 15px #52f74e;
    box-shadow: 0px 0px 15px 10px #52f74e;
    border: 2px solid #8aec7f;

}



/*Play Styling*/
.grid-player1 {
    background-image: url('assets/player-pictures/hand-background.svg');
    background-size: 100%;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 65px 250px 510px 50px;
    width: 20%;
    background-color: #161616;
    border: 2px solid black;
}

.grid-player2 {
    background-image: url('assets/player-pictures/hand-background.svg');
    background-size: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 65px 250px 510px 50px;
    width: 20%;
    background-color: #161616;
    border: 2px solid black;
}

.p-head {
    grid-column: span 2;
    background-color: #878787;
}

.p-profile {
    background-image: url('assets/player-pictures/tvFrame.svg');
    background-size: 100%;
}

.p-tracker {
    background-image: url('assets/player-pictures/tracker.svg');
    background-size: 100%;
}

.p-actions {
    padding-top: 7px;
    text-align: center;
    color: #363636;
}

.p-view {
    background-color: brown;
}

.p-foot {
    grid-column: span 2;
    color: #363636;
}

.column-board {
    width: 50%;
    background-color: #262626;
    border: 5px solid #878787;
}

#Player-1-pic-play {
    display: block;
    margin: 0 auto;
    width: 71%;
    padding: 24px 20px 20px 20px;
    box-shadow: 0px 0px 10px 3px rgb(180, 180, 207);
}

#Player-2-pic-play {
    display: block;
    margin: 0 auto;
    width: 71%;
    padding: 24px 20px 20px 20px;
    box-shadow: 0px 0px 10px 3px  #ebcf93;
}

#Player-1-view {
    grid-column: span 2;
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 4px;
        opacity: 1;
}

#Player-2-view {
    grid-column: span 2;
    display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 4px;
        opacity: 1;
}

#Player-1-hand {
    display: block;
    margin: 0 auto;
    margin-top: -6px;
    margin-bottom: 4px;
    padding: 3px;
    background-color:#51A548;
    border-color: #112b0e;
    color: #c6ffbf;
    font-size: medium;
}
#Player-1-draw {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 3px;
    background-color:#1D4B98;
    border-color: #0d357a;
    color: #b2c8f0;
    font-size: medium;
}

#Player-2-hand{
    display: block;
    margin: 0 auto;
    margin-top: -6px;
    margin-bottom: 4px;
    padding: 3px;
    background-color:#51A548;
    border-color: #112b0e;
    color: #c6ffbf;
    font-size: medium;
}

#Player-2-draw {
    display: block;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 3px;
    background-color:#1D4B98;
    border-color: #0d357a;
    color: #b2c8f0;
    font-size: medium;
}

.invisible-hand {
    opacity: 0;

}

.invisible-hand-1 {
    opacity: 0;

}

.invisible-hand-2 {
    opacity: 0;

}





.Player-1-attack {
    padding-top: 25px;
    text-align: center;
    color: #f8e090;
    text-shadow: 0px 0px 10px #faab00;
}

.Player-1-defense {
    padding-top: 9px;
    text-align: center;
    color: #90baf8;
    text-shadow: 0px 0px 10px #4955ff;
}

.Player-2-attack {
    padding-top: 25px;
    text-align: center;
    color: #f8e090;
    text-shadow: 0px 0px 10px #faab00;
}

.Player-2-defense {
    padding-top: 9px;
    text-align: center;
    color: #90baf8;
    text-shadow: 0px 0px 10px #4955ff;
}



.card-element {
    border: 1px solid gray;
}
.card-element-0 {
    grid-column: 1;
    grid-row: 1;
}

.card-element-1 {
    grid-column: 2;
    grid-row: 1;
}

.card-element-2 {
    grid-column: 1;
    grid-row: 2;
}

.card-element-3 {
    grid-column: 2;
    grid-row: 2;
}

.card-element-4 {
    grid-column: 1;
    grid-row: 3;
}

.card-element-5 {
    grid-column: 2;
    grid-row: 3;
}

.card-image {
    display: block;
    width: 90%;
    padding-top: 10px;
    margin: 0 auto;
}

.card-back {
    background-image: url('assets/player-pictures/cardBack.png');
}

.card-background {
    width: 100%;
    background-image: url('assets/player-pictures/cardBackground.png');
    height: 100%;
}

/* Game Board Styling*/
#Game-round {
    font-size: xx-large;
    color: #8aec7f;
    text-shadow: 0px 0px 25px #51A548;
}
#Game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 65px 190px 190px 190px 190px 50px;
    grid-gap: 2px;
}

.game-header {
    grid-column: span 5;
    text-align: center;
}

.game-footer {
    grid-column: span 5;
    margin: 0 auto;
}

.tile {
    border: 2px solid black;
    height: 180px;
}

.atk-tile {
    border: 2px solid #fae4b4;
    box-shadow: 0px 0px 10px 3px #faab00;
}

.def-tile {
    border: 2px solid rgb(180, 180, 207);
    box-shadow: 0px 0px 10px 3px #4955ff;
}

.Player-1-tile {
    background-color: rgb(60, 60, 88);
}

.Player-2-tile {
    background-color: rgb(168, 118, 99);
}

/* audio button */
#mute {
    margin-top: 40px;
    display: block;
    margin: 0 auto;
    background-color: rgb(60, 60, 88);
    color: whitesmoke;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    header {
        width: 100%;
    }
    .column-choose {
        width: 50%;
    }
    .column-player {
        width: 15%;
    }
    .column-board {
        width: 70%;
    }

}

@media screen and (max-width: 900px) {
    header {
        width: 100%;
    }
    .row {
        display: block;
        justify-content: center;
    }
    .column-choose {
        width: 100%;
        height: 38vh;
    }
    .column-player {
        width: 100%;
    }
    .column-board {
        width: 100%;
    }
}
