body {
    background-image: url('assets/player-pictures/background.svg');
    font-family: 'VT323', monospace;
}

#Play-now {
    display: block;
    margin: 0 auto;
    font-size: x-large;
    padding: 0.7em;
    color: #862800;
    background-color: #F2B094;
    border-color: #eb5210;

}

.logo {
    padding-top: 200px;
    padding-bottom: 40px;
    display: block;
    margin: 0 auto;
    width: 28%;
}